#main{
   min-height: 70vh;
   
   color: rgb(252, 255, 255);
}

#single-book{
  
   display: flex;
   justify-content: space-evenly;
   gap: 5%;
   
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 3%;
}
#image img{
   height: 65vh;
   min-width: 25vw;
}

#main-des{
   max-width: 50vw;
}
#descriptions{
   display: flex;
   justify-content: space-around;
}
span{
   font-style: italic;
   font-weight: bold;
   color:rgb(127, 255, 133);
}
#title-edit{
   display: flex;
   justify-content: space-between;
}